.section-title {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
  border-bottom: 4px solid #f74d00;
  .section-title__heading {
    text-align: center;
    text-transform: capitalize;
    margin-left: 10px;
    font-family: "Verdana", sans-serif;
    color: '#2e2e2e';
    font-size: 28px;
  }
}
