a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #888;
}
.container{
  display: flex;
  padding: 0px 0px;
  margin-left: 0px;
}
.buttongroup:hover{
  background-color: #000;
  color:white;
}
